*{
    margin: 0;
    Padding: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color:pink ;
    font-family:"poppins", sans-serif;
}
.grid{
    display: grid;
   
    padding:25px 0;
}
.grid-item {
    background-color:bisque;
    border-radius: 30px;
    overflow: hidden;
    cursor:pointer;
    width:835px;
    height: 600px;
}
.card-img{
    display: block;
    width: 835px;
    height:365px;
    object-fit: cover;
}
.card-content {
    padding: 28px;
}
.card-header{
    font-size: 35px;
    font-weight:500;
    color:green;
    margin-bottom: 5px;
}
.card-text {
    font-size: 18px;
    letter-spacing: 1px;
    line-height:25px;
    color:cornflowerblue;
    margin-bottom:1px;
}
.container {
    display:flex;
}
nav ul{
    width: 300px;
}
nav ul li{
    list-style :none;
    margin: 100px 30px;
}
nav ul li a{
    color: Green;
    text-decoration:none;
    font-size:20px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:green;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
span{
    color:green;
    font-size:20px;
}
label {
    cursor: pointer;
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color:black;
    margin: 5px;
  }
  input {
    display:none;
  }
  @media screen and (max-width:1055px) {
    ul {
        background-color:aqua;
        position: relative;
        z-index: 2;
        right: 8cm;
    }
    label {
        display:block;
    }
    .grid {
        position: relative;
        right:7cm;
    }
    nav ul li {
        margin: 53.3px 30px;
    }
    input:checked ~ ul {
        display: flex;
         flex-direction: column;
        right:0;
    }
  }
  @media screen and (max-width: 890px) {
    .grid-item{
        width:85vw;
        height:auto;
    }
    .card-img {
        width:85vw;
    }
 }
