*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background:pink;
}
nav ul {
    width:300px;
}
nav ul li{
    list-style :none;
    margin: 100px 30px;
}
nav ul li a{
    color: Green;
    text-decoration:none;
    font-size:20px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:green;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
label {
    cursor: pointer;
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color:black;
    margin: 5px;
  }
  input {
    display:none;
  }
input:checked ~ ul {
    display: flex;
        flex-direction: column;
    right:0;
  }
  @media screen and (max-width:1055px) {
    ul {
        
        
        background-color:aqua;
        position: relative;
        z-index: 2;
        right: 8cm;
    }
    label {
        display:block;
    }
    .grid {
        position: relative;
        right:3cm;
    }
    nav ul li {
        margin: 53.3px 30px;
    }
  }
